*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color:blue;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 2.5vw;
    align-items: center;
    padding: 2vw;
}
h1{
    font-size:3vw;
    margin: 2.3vw;
}

h2{
    font-size: 2vw;
    margin: 5vw;
}

img{
    width: 90%;
    height: 100%;
}